.row
  .col-md-12
    %h1=@shelter.name
    %p
      =link_to "&#8592; Back to Shelters".html_safe, shelters_url
    %hr

.row
  .col-md-4
    -if @shelter.image_url
      .shelter-image
        =image_tag @shelter.image_url, alt: @shelter.name
  .col-md-8
    %h3 About #{@shelter.name}
    %br
    =simple_format @shelter.description
    %br
    %p
      =link_to "View Shelter's Website", @shelter.url, class: "btn btn-primary btn-large", target: "_blank"
      =link_to "View Contact Details", @shelter.contact_details, class: "btn  btn-large", target: "_blank"


.row

  .col-md-12
    %h3 Dogs at #{@shelter.name}
    %hr
    =render partial: "dogs/dog_list", locals: {dogs: @shelter.dogs}
