.row
  .col-md-12
    %h1=@dog.name
    %p.dogs-index-link
      =link_to "&#8592; Back to Dogs".html_safe, dogs_url 
    %hr

.row
  .col-md-6
    .dog-image
      =image_tag @dog.image_url
  .col-md-6
    %br
    .dog-description=simple_format @dog.description
    %br
    %p
      =link_to "View Full Details", @dog.shelter_url, target: "_blank", class: "btn btn-primary btn-large"
    %hr
    %ul
      -if @dog.age_string || @dog.date_of_birth
        %li
          %p
            -if @dog.date_of_birth
              %strong Date of Birth:
              #{@dog.date_of_birth} (#{time_ago_in_words(@dog.date_of_birth)})
            -else
              %strong Approximate Age:
            =@dog.age_string

      -if @dog.is_female
        %li
          %p
            %strong Gender:
            =@dog.is_female ? "Female" : "Male"

      -if @dog.breed
        %li
          %p
            %strong Breed:
            =link_to @dog.breed.name, breed_url(@dog.breed)

      -if @dog.shelter
        %li
          %p
            %strong Shelter:
            =link_to @dog.shelter.name, shelter_url(@dog.shelter)
