.row
  .col-md-12
    %h1 Breeds
    %hr

.row
  .col-md-12
    .dog-list
      -@breeds.each do |breed|
        .col-md-4
          .dog-list-item{style: "background-image: url('#{breed.dog_image_url}');"}
            %a{href: breed_url(breed)}
              %p.caption=breed.name


